In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("CODTECH Big Data Analysis") \
    .getOrCreate()

print("Spark Started")

Spark Started

In [3]:
df = spark.read.json("Cell_Phones_and_Accessories_5.json")
df.show(5)

+----------+-------+-------+--------------------+-----------+--------------+----------------+--------------------+--------------+
|      asin|helpful|overall|          reviewText| reviewTime|    reviewerID|    reviewerName|             summary|unixReviewTime|
+----------+-------+-------+--------------------+-----------+--------------+----------------+--------------------+--------------+
|120401325X| [0, 0]|    4.0|They look good an...|05 21, 2014|A30TL5EWN6DFXT|       christina|          Looks Good|    1400630400|
|120401325X| [0, 0]|    5.0|These stickers wo...|01 14, 2014| ASY55RVNIL0UD|        emily l.|Really great prod...|    1389657600|
|120401325X| [0, 0]|    5.0|These are awesome...|06 26, 2014|A2TMXE2AFO7ONB|           Erica|      LOVE LOVE LOVE|    1403740800|
|120401325X| [4, 4]|    4.0|Item arrived in g...|10 21, 2013| AWJ0WZQYMYFQ4|              JM|               Cute!|    1382313600|
|120401325X| [2, 3]|    5.0|awesome! stays on...| 02 3, 2013| ATX7CZYFXI1KW|patrice m rogoza|leopard home butt...|    1359849600|
+----------+-------+-------+--------------------+-----------+--------------+----------------+--------------------+--------------+
only showing top 5 rows

In [4]:
from pyspark.sql.functions import col, avg, length

df_clean = df.dropna(subset=["overall", "reviewText"])

df_clean.groupBy("overall").count().show()

df_clean.select(avg("overall")).show()

df_clean.groupBy("asin").count().orderBy(col("count").desc()).show(10)

df_clean = df_clean.withColumn("review_length", length(col("reviewText")))
df_clean.select(avg("review_length")).show()

+-------+-----+
|overall|count|
+-------+-----+
|    1.0| 4909|
|    4.0|11514|
|    3.0| 6603|
|    2.0| 3792|
|    5.0|29173|
+-------+-----+

+----------------+
|    avg(overall)|
+----------------+
|4.00462574342305|
+----------------+

+----------+-----+
|      asin|count|
+----------+-----+
|B0042FV2SI|  694|
|B000S5Q9CA|  628|
|B0015RB39O|  466|
|B0052YFYFK|  370|
|B0059DLLJC|  361|
|B0044WTQVE|  360|
|B005IMB5NG|  346|
|B003ZBZ64Q|  339|
|B001XXUOQI|  330|
|B004G1L52Q|  322|
+----------+-----+
only showing top 10 rows
+------------------+
|avg(review_length)|
+------------------+
|493.51661874229785|
+------------------+